.footer__column-link {
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  transition: opacity .4s ease;
}

.footer__column-link:hover {
  opacity: 0.7;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}
