.kaufman__triangle {
  background-image: url(/images/kaufman/__triangle/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
  z-index: 0;
  animation: rotation 20s linear infinite;
}
